/* General */

body {
    margin: 0;
    line-height: 1.5em;
    font-family: Verdana, helvetica, arial, sans-serif;
    /* background-color: rgb(255 228 230); */
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: 1em;
    font-family: Georgia;
}


/* Single column layout */
nav section, header section, main, footer section {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em;
}


/* Navigation panel */
@media screen and (min-width: 600px) {
    nav .links {
        float: right;
    }
}


/* Footer */
footer {
    margin-top: 2em;
    padding: 1em 0;
    text-align: center;
}

footer section p {
    font-size: 0.8em;
}

footer a {
    margin-right: 1em;
}

footer a:last-child {
    margin-right: 0;
}


/* Posts */
article {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 60ch;
}

p.meta {
    margin-top: 0;
    font-size: 0.8em;
    font-style: italic;
}

p.summary {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

div .more {
    margin-top: 0;
    font-weight: bold;
}


/* RSS */
.rss {
    padding: 0.3em 0.35em;
    border-radius: 0.25em;
    font-size: 0.75em;
    font-weight: bold;
}

.rss:link, .rss:visited, .rss:hover, .rss:active {
    color: #ffffff;
    text-decoration: none;
}

.rss:link, .rss:visited {
    background: #ff6600;
}

.rss:hover, .rss:active {
    background: #ff8822;
}
